.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #797a7b;
    border-radius: 8px;
    border: 1px solid #383d47;
    margin-left: 8px;
    margin-bottom: 12px;
    background-color: transparent;
    transition: background-color 0.1s linear;
    cursor: pointer;

    &:hover {
        border: 1px solid #5e6b76;
    }
}

.inner {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 6px 10px;
}

.icon {
    color: #383d47;
    margin-right: 8px;
}

.title {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 19.36px;
}
