.button-link {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.4rem;
    text-decoration: none;

    span {
        padding: 18px 15px;
    }

    &:hover {
        color: #d5d5d5;
    }
}

.active {
    color: var(--text-color-active) !important;
    font-weight: 700;
}
