@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --primary: #fbc500;
    --background-color: #060d17;
    --text-color: #999c9f;
    --white: #fff;
    --black: #000;
    --text-color-active: #d9e8ed;
    --font-family: 'Lato', sans-serif;

    --header-height: 56px;
    --max-width-default: 1752px;
    --horizontal-width-default: 64px;
    --modal-title-height: 86px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
}
