.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 11;
    cursor: pointer;
}

.modal {
    position: relative;
    width: 600px;
    height: 500px;
    border-radius: 16px;
    background-color: var(--background-color);
    overflow: hidden;
    z-index: 12;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--modal-title-height);
    color: #d5d5d5;
    font-size: 2.4rem;
    font-weight: 900;
    z-index: 10;
}

.close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 6px;
    width: 48px;
    height: 48px;

    &:hover {
        border-radius: 50%;
        background-color: #0e141e;
    }
}

.icon {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 12px;
}

// btn section
.buttons {
    position: relative;
    padding: 0 35px 35px;
    overflow-y: scroll;
    width: 100%;
    height: calc(500px - var(--modal-title-height));
}

.splitted {
    display: flex;
    justify-content: space-between;
}
