.wrapper {
    padding: 24px;
}

.search-result-title {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.result {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    color: #fff;
}

.mb15 {
    margin-bottom: 15px;
}
